In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt 
from pathlib import Path

# sns.color_palette("colorblind")
# sns.set_palette(sns.color_palette("colorblind"))
sns.set_palette(sns.color_palette("muted"))

pd.set_option('display.max_columns', None)

Сущности базы данных:  
- contact_preference — справочник предпочтительного способа связи;  
- customer_preferenced_contact_type — таблица связи пользователей(предпочтительный способ связи);  
- customer — справочник пользователей с основной информацией по ним;  
- customers_segmetns — таблица связей пользователей и сегментов;  
- location — справочник локаций;  
- product_feedback — отзывы по продуктам;  
- product — справочник продуктов с именем, категорией, ценой;  
- purchase — таблица покупок;  
- segment — справочник сегментов с информацией о названии сегмента и скидки;  
- service_feedback — отзывы о сервисе

Задача 1: собрать всю информацию по каждому пользователю в отдельной  
витрине, а также на основе имеющихся данных посчитать:  
- количество покупок,  
- количество потраченных средств,  
- средний рейтинг по продукту,  
- наивысший продукт по рейтингу,  
- самый популярный тип продукта,  
- количество отзывов.

In [2]:
db_dir = './datasets/hw_7_db/'

def ov_read_csv(folder_path: str, file: str) -> pd.DataFrame:
    return pd.read_csv(Path(db_dir) / Path(file), encoding='utf-8', sep=';')

In [3]:
# можно было словарем, но обращаться каждый раз через [''] или get - отстой
contact_preference = ov_read_csv(db_dir, 'contact_preference.csv')
customer_preferenced_contact_type =  ov_read_csv(db_dir, 'contact_preference.csv')
customer = ov_read_csv(db_dir, 'customer.csv')
customers_segmetns =  ov_read_csv(db_dir, 'customers_segmetns.csv')
contact_preference = ov_read_csv(db_dir, 'contact_preference.csv')
location =  ov_read_csv(db_dir, 'location.csv')
product = ov_read_csv(db_dir, 'product.csv')
purchase =  ov_read_csv(db_dir, 'purchase.csv')
segment = ov_read_csv(db_dir, 'segment.csv')
service_feedback =  ov_read_csv(db_dir, 'service_feedback.csv')
product_feedback = ov_read_csv(db_dir, 'product_feedback.csv')

In [4]:
customer.columns

Index(['id', 'name', 'email', 'location_id', 'registration_date'], dtype='object')

In [5]:
customers_segmetns.columns

Index(['customer_id', 'segment_id'], dtype='object')

In [6]:
segment.columns

Index(['id', 'segment_name', 'discount'], dtype='object')

In [7]:
service_feedback.columns

Index(['id', 'customer_id', 'rating', 'comment'], dtype='object')

In [8]:
product_feedback.columns

Index(['id', 'purchase_id', 'rating', 'review'], dtype='object')

In [9]:
purchase.columns

Index(['id', 'user_id', 'product_id', 'purchase_date', 'quantity'], dtype='object')

In [10]:
purchase

            id  user_id  product_id purchase_date  quantity
0    293813371       19         104    2024-02-09         2
1    696524227       49          90    2023-06-30         1
2     14417739       30          20    2023-09-28         1
3    539614646       45         141    2023-04-25         2
4    691165168       40          25    2023-10-26         2
..         ...      ...         ...           ...       ...
495  610418601       24          66    2023-07-19         2
496  567876336       46          75    2023-08-31         1
497  956349124        9         111    2023-06-04         2
498   83968957        9         143    2024-02-18         1
499  124325087        8           4    2023-05-01         1

[500 rows x 5 columns]

In [26]:
df = (customer.merge(customers_segmetns, 'left', left_on='id', right_on='customer_id', suffixes=('_x', '_y'))
         .merge(segment, 'left', left_on='segment_id', right_on='id', suffixes=('_sx', '_sy'))
         .merge(service_feedback, 'left', left_on='customer_id', right_on='customer_id', suffixes=('_sfx', '_sfy'))
         .merge(purchase, 'left', left_on='customer_id', right_on='user_id', suffixes=('_px', '_py'))
         .merge(product, 'left', left_on='product_id', right_on='id', suffixes=('_px2','_prod_id'))
         .merge(product_feedback, 'left', left_on='id_py', right_on=('purchase_id'), suffixes=('_servicefeed','_prodfeedy'))
)
df

,id_sx,name,email,location_id,registration_date,customer_id,segment_id,id_sy,segment_name,discount,id_px,rating_servicefeed,comment,id_py,user_id,product_id,purchase_date,quantity,id_servicefeed,product_name,category_name,price,id_prodfeedy,purchase_id,rating_prodfeedy,review
0,1,Alice,alice@example.com,1,2023-01-15,1,2,2,Regular,3,12.0,7.0,"Satisfactory service, nothing exceptional.",618102097.0,1.0,79.0,2024-01-28,1.0,79.0,Journey,Games,14.99,94.0,618102097.0,5.0,Quality is lower than expected.
1,1,Alice,alice@example.com,1,2023-01-15,1,2,2,Regular,3,12.0,7.0,"Satisfactory service, nothing exceptional.",3228114.0,1.0,53.0,2024-01-22,1.0,53.0,Call of Duty,Games,59.99,155.0,3228114.0,8.0,Very happy with my order!
2,1,Alice,alice@example.com,1,2023-01-15,1,2,2,Regular,3,12.0,7.0,"Satisfactory service, nothing exceptional.",54617801.0,1.0,50.0,2024-01-12,1.0,50.0,The Art of War,Books,7.99,185.0,54617801.0,9.0,Great quality and service!
3,1,Alice,alice@example.com,1,2023-01-15,1,2,2,Regular,3,12.0,7.0,"Satisfactory service, nothing exceptional.",38395521.0,1.0,34.0,2024-01-20,1.0,34.0,Life of Pi,Books,10.99,196.0,38395521.0,10.0,Love this product!
4,1,Alice,alice@example.com,1,2023-01-15,1,2,2,Regular,3,12.0,7.0,"Satisfactory service, nothing exceptional.",32847873.0,1.0,107.0,2023-09-11,2.0,107.0,The Shawshank Redemption,Movies,14.99,202.0,32847873.0,6.0,Quality is subpar.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,606726160.0,49.0,86.0,2023-10-10,2.0,86.0,Mario Kart 8 Deluxe,Games,59.99,240.0,606726160.0,10.0,"Excellent, will buy again!"
497,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,739220618.0,49.0,107.0,2023-11-25,1.0,107.0,The Shawshank Redemption,Movies,14.99,NaN,NaN,NaN,NaN
498,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,315015784.0,49.0,89.0,2023-09-19,1.0,89.0,Gears of War 5,Games,39.99,NaN,NaN,NaN,NaN
499,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,54540276.0,49.0,31.0,2023-11-06,2.0,31.0,The Fault in Our Stars,Books,9.99,NaN,NaN,NaN,NaN
500,50,Xena,xena@example.com,10,2023-05-30,50,2,2,Regular,3,10.0,10.0,Best service I've ever received!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [id, purchase_id, rating, review]
Index: []

## 1.1 Datamart по каждому пользователю
- количество покупок,  
- количество потраченных средств,  
- средний рейтинг по продукту,  - не продуктам? так витрина будет уже о клиентах - продуктах, ну ок
- наивысший продукт по рейтингу,  
- самый популярный тип продукта,  
- количество отзывов.

In [15]:
# df.head(10)

In [38]:
df.tail()

,id_sx,name,email,location_id,registration_date,customer_id,segment_id,id_sy,segment_name,discount,id_px,rating_servicefeed,comment,id_py,user_id,product_id,purchase_date,quantity,id_servicefeed,product_name,category_name,price,id_prodfeedy,purchase_id,rating_prodfeedy,review
496,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,606726160.0,49.0,86.0,2023-10-10,2.0,86.0,Mario Kart 8 Deluxe,Games,59.99,240.0,606726160.0,10.0,"Excellent, will buy again!"
497,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,739220618.0,49.0,107.0,2023-11-25,1.0,107.0,The Shawshank Redemption,Movies,14.99,NaN,NaN,NaN,NaN
498,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,315015784.0,49.0,89.0,2023-09-19,1.0,89.0,Gears of War 5,Games,39.99,NaN,NaN,NaN,NaN
499,49,Walter,walter@example.com,9,2023-05-25,49,1,1,New,2,NaN,NaN,NaN,54540276.0,49.0,31.0,2023-11-06,2.0,31.0,The Fault in Our Stars,Books,9.99,NaN,NaN,NaN,NaN
500,50,Xena,xena@example.com,10,2023-05-30,50,2,2,Regular,3,10.0,10.0,Best service I've ever received!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# я не понял как действует параметр discount, поэтому по потраченным средствам предпологаю что заплачено с учетом скидки
datamart = df.groupby(['customer_id'])\
             .agg({'rating_prodfeedy': 'mean',
                   'review': 'count'}).reset_index()
datamart = datamart.merge(df.groupby('customer_id')
                  .agg({'rating_prodfeedy': 'max'}).reset_index(), 'inner', on='customer_id')

In [160]:
datamart.rename(columns={'rating_prodfeedy_x': 'mean_rating', 
                         'review': 'review_cnt',
                        'rating_prodfeedy_y': 'max_rating'}, inplace=True)

In [161]:
datamart = datamart.merge(df['customer_id'].value_counts().reset_index().rename(columns={'count': 'purchase_cnt'}),
                          'inner',  on='customer_id')

In [162]:
sample_df = df.groupby(['customer_id', 'product_id'])\
  .agg({'product_id': 'count'}).rename(columns={'product_id': 'cnt'}).reset_index(level=[0,1])

In [163]:
# самый популярный тип продукта
datamart = datamart.merge(sample_df.sort_values('cnt', ascending=False).groupby(['customer_id']).head(1).rename(columns={'product_id': 'fav_product_id'}).drop('cnt', axis=1),
               'inner', on='customer_id')
datamart.head()

,customer_id,mean_rating,review_cnt,max_rating,purchase_cnt,fav_product_id
0,1,8.000,6,10.0,11,71.0
1,2,8.125,8,10.0,10,110.0
2,3,8.750,4,10.0,10,132.0
3,4,7.625,8,10.0,14,12.0
4,5,9.000,3,9.0,9,22.0

In [164]:
# количество потраченных средств
df['payed'] = df['quantity'] * df['price'].fillna(0).replace('Free', 0).astype(float)

In [165]:
total_spent = df.groupby('customer_id')\
  .agg({'payed':'sum'}).reset_index().rename(columns={'payed':'total_spent'})
total_spent.head()

   customer_id  total_spent
0            1       563.84
1            2       398.34
2            3       247.85
3            4       359.27
4            5       164.91

In [166]:
datamart = datamart.merge(total_spent, 'inner', on='customer_id')\
                   .merge(product[['id', 'product_name']], 'inner', left_on='fav_product_id', right_on='id')\
                   .drop(['fav_product_id', 'id'], axis=1)\
                   .rename(columns={'product_name':'favorite_product'})
# datamart = datamart['customer_id', 'mean_rating', 're'

In [167]:
datamart

,customer_id,mean_rating,review_cnt,max_rating,purchase_cnt,total_spent,favorite_product
0,1,8.000000,6,10.0,11,563.84,Animal Crossing: New Horizons
1,22,8.000000,2,8.0,10,432.86,Animal Crossing: New Horizons
2,2,8.125000,8,10.0,10,398.34,Jurassic Park
3,3,8.750000,4,10.0,10,247.85,Coco
4,27,8.250000,4,10.0,9,266.36,Coco
5,4,7.625000,8,10.0,14,359.27,Brave New World
6,21,8.600000,5,10.0,10,247.86,Brave New World
7,5,9.000000,3,9.0,9,164.91,The Fault in Our Stars
8,6,6.750000,4,8.0,7,478.39,Goodfellas
9,7,7.500000,4,10.0,7,161.89,Get Out
10,8,7.000000,9,10.0,13,433.32,Dead by Daylight
11,9,7.857143,7,9.0,15,337.29,The Departed
12,10,8.000000,3,10.0,10,267.85,Eleanor Oliphant Is Completely Fine
13,13,8.500000,2,9.0,7,200.87,Eleanor Oliphant Is Completely Fine
14,31,7.500000,8,10.0,13,389.32,Eleanor Oliphant Is Completely Fine
15,11,6.333333,6,10.0,11,362.87,Splatoon 2
16,12,7.750000,4,10.0,5,134.93,The Lion King
17,14,8.300000,10,10.0,15,490.79,Crime and Punishment
18,15,6.000000,1,6.0,7,297.41,Ford v Ferrari
19,16,6.750000,4,9.0,11,208.84,Moonlight
20,17,8.428571,7,10.0,15,521.78,Her
21,35,7.666667,3,9.0,12,412.33,Her
22,18,7.000000,5,10.0,10,408.83,The Trial of the Chicago 7
23,48,7.833333,6,10.0,11,402.83,The Trial of the Chicago 7
24,19,7.200000,5,9.0,14,475.27,Casino Royale
25,20,5.000000,1,5.0,4,269.94,Monster Hunter: World
26,23,9.000000,1,9.0,6,278.90,A Star Is Born
27,24,6.500000,4,8.0,12,534.79,Dungeons & Dragons
28,25,8.750000,4,10.0,11,412.83,Black Panther
29,26,8.600000,5,10.0,15,629.26,Soulcalibur VI
30,28,7.714286,7,10.0,15,423.80,The Catcher in the Rye
31,29,6.333333,3,7.0,8,232.90,The Bell Jar
32,30,9.400000,5,10.0,7,132.90,The Wolf of Wall Street
33,32,7.000000,6,10.0,10,384.83,Spider-Man: Into the Spider-Verse
34,33,9.666667,3,10.0,3,85.95,Jojo Rabbit
35,34,6.750000,4,9.0,10,339.85,Journey
36,36,9.333333,3,10.0,7,199.86,The Irishman
37,46,7.166667,6,9.0,11,568.82,The Irishman
38,37,5.000000,2,5.0,7,223.89,The Shape of Water
39,38,6.200000,5,7.0,13,481.81,Harry Potter and the Sorcerer's Stone
40,39,7.500000,4,10.0,8,211.88,Hades
41,40,6.833333,6,10.0,15,519.76,Fall Guys
42,41,7.000000,4,8.0,7,132.89,Knives Out
43,42,6.000000,1,6.0,12,356.83,The Social Network
44,43,6.500000,6,9.0,10,149.37,The Rosie Project
45,44,8.666667,3,9.0,4,174.93,The Elder Scrolls V: Skyrim
46,45,7.090909,11,10.0,16,519.76,The Book Thief
47,47,7.500000,8,9.0,14,460.78,The Book Thief
48,49,7.800000,5,10.0,9,534.86,Borderlands 3

## Задача 2: 
написать функцию, которая считает долю трат пользователя по разным  
категориям от общих трат пользователя. Категории: Movies, Games, Books.

In [203]:
def category_ration_cnt(df):
    cat_payed = df.groupby(['customer_id', 'category_name'])\
              .agg({'payed': 'sum'})\
              .reset_index(level=[0,1])
    sts_pivot = pd.pivot_table(cat_payed, index='customer_id', values='payed', columns='category_name').reset_index(level=[0]).fillna(0)
    sts_pivot['total'] = sts_pivot['Books'] + sts_pivot['Games'] + sts_pivot['Movies']
    
    for cat in ['Books', 'Games', 'Movies']:
        sts_pivot[f'{cat}_of_total_rt'] = round(sts_pivot[cat] / sts_pivot['total'], 2)
    return sts_pivot[['customer_id', 'Books_of_total_rt', 'Games_of_total_rt', 'Movies_of_total_rt']].set_index('customer_id')

In [204]:
category_ration_cnt(df)

category_name  Books_of_total_rt  Games_of_total_rt  Movies_of_total_rt
customer_id
1                           0.07               0.88                0.05
2                           0.12               0.63                0.25
3                           0.33               0.24                0.43
4                           0.22               0.46                0.32
5                           0.33               0.58                0.09
6                           0.03               0.94                0.03
7                           0.30               0.19                0.51
8                           0.23               0.67                0.10
9                           0.25               0.27                0.49
10                          0.38               0.50                0.11
11                          0.06               0.77                0.17
12                          0.48               0.44                0.07
13                          0.50               0.30                0.20
14                          0.20               0.67                0.13
15                          0.08               0.87                0.05
16                          0.36               0.14                0.50
17                          0.15               0.57                0.28
18                          0.12               0.68                0.19
19                          0.17               0.54                0.30
20                          0.00               1.00                0.00
21                          0.12               0.52                0.35
22                          0.09               0.85                0.06
23                          0.06               0.73                0.20
24                          0.14               0.69                0.17
25                          0.21               0.53                0.25
26                          0.13               0.83                0.04
27                          0.28               0.45                0.27
28                          0.17               0.65                0.19
29                          0.23               0.71                0.06
30                          0.32               0.23                0.45
31                          0.30               0.59                0.11
32                          0.13               0.58                0.29
33                          0.00               0.70                0.30
34                          0.07               0.71                0.21
35                          0.15               0.67                0.18
36                          0.55               0.30                0.15
37                          0.20               0.63                0.17
38                          0.16               0.62                0.22
39                          0.33               0.38                0.29
40                          0.21               0.57                0.22
41                          0.53               0.15                0.32
42                          0.39               0.57                0.03
43                          0.65               0.00                0.35
44                          0.31               0.69                0.00
45                          0.23               0.58                0.19
46                          0.00               0.83                0.17
47                          0.26               0.56                0.17
48                          0.09               0.65                0.27
49                          0.11               0.86                0.03