In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructType, IntegerType, DateType, StructField, FloatType
import pyspark.sql.functions as f

In [ ]:
data_path = '/content/movies.csv'

In [ ]:
            # .config("spark.jars", "postgresql-42.7.4.jar") \
            # .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.4.1") \

In [ ]:
spark = SparkSession \
            .builder \
            .appName("movies_app") \
            .master("local") \
            .getOrCreate()

In [ ]:
df = spark \
    .read \
    .option("header", "true") \
    .option("multiline", "true") \
    .option("sep", ";") \
    .option("quote", "*") \
    .option("dateFormat", "M/d/y") \
    .option("inferSchema", "true") \
    .csv(data_path)

In [ ]:
df.show(10,20)

+--------------------------------------------------------------------------------------------+
|Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year|
+--------------------------------------------------------------------------------------------+
|                                                                        Zack and Miri Mak...|
|                                                                        Youth in Revolt,C...|
|                                                                        You Will Meet a T...|
|                                                                        When in Rome,Come...|
|                                                                        What Happens in V...|
|                                                                        Water For Elephan...|
|                                                                        WALL-E,Animation,...|
|                                                                        Waitress,Romance,...|
|                                                                        Waiting For Forev...|
|                                                                        Valentine's Day,C...|
+--------------------------------------------------------------------------------------------+
only showing top 10 rows

In [ ]:
df.printSchema()

root
 |-- Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year: string (nullable = true)

In [ ]:
schema = StructType([
                StructField("Film", StringType(), nullable=True),
                StructField("Genre", StringType(), nullable=True),
                StructField("Lead Studio", StringType(), nullable=True),
                StructField("Audience score %", IntegerType(), nullable=True),
                StructField("Profitability", FloatType(), nullable=True),
                StructField("Rotten Tomatoes %", IntegerType(), nullable=True),
                StructField("Worldwide Gross", StringType(), nullable=True),
                StructField("Year", IntegerType(), nullable=True)])

In [ ]:
df = spark \
    .read \
    .option("header", "true") \
    .option("multiline", "true") \
    .option("sep", ",") \
    .option("inferSchema", "true") \
    .schema(schema)\
    .csv(data_path)

In [ ]:
df.show(10,20)

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|    1.7475417|               64|        $41.94 |2008|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|
|You Will Meet a T...|   Comedy|         Independent|              35|    1.2118182|               43|        $26.66 |2010|
|        When in Rome|   Comedy|              Disney|              44|          0.0|               15|        $43.04 |2010|
|What Happens in V...|   Comedy|                 Fox|              72|    6.2676473|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|    3.0814211|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|     2.896019|               96|       $521.28 |2008|
|            Waitress|  Romance|         Independent|              67|    11.089742|               89|        $22.18 |2007|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|    4.1840386|               17|       $217.57 |2010|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 10 rows

In [ ]:
df2 = df.withColumn('world_gross_f',f.regexp_replace('Worldwide Gross', '[$,]', '').cast('double'))
df2.show()

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+-------------+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|world_gross_f|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+-------------+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|    1.7475417|               64|        $41.94 |2008|        41.94|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|        19.62|
|You Will Meet a T...|   Comedy|         Independent|              35|    1.2118182|               43|        $26.66 |2010|        26.66|
|        When in Rome|   Comedy|              Disney|              44|          0.0|               15|        $43.04 |2010|        43.04|
|What Happens in V...|   Comedy|                 Fox|              72|    6.2676473|               28|       $219.37 |2008|       219.37|
| Water For Elephants|    Drama|    20th Century Fox|              72|    3.0814211|               60|       $117.09 |2011|       117.09|
|              WALL-E|Animation|              Disney|              89|     2.896019|               96|       $521.28 |2008|       521.28|
|            Waitress|  Romance|         Independent|              67|    11.089742|               89|        $22.18 |2007|        22.18|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|         0.03|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|    4.1840386|               17|       $217.57 |2010|       217.57|
|Tyler Perry's Why...|  Romance|         Independent|              47|    3.7241924|               46|        $55.86 |2007|        55.86|
|Twilight: Breakin...|  Romance|         Independent|              68|    6.3833637|               26|       $702.17 |2011|       702.17|
|            Twilight|  Romance|              Summit|              82|    10.180027|               49|       $376.66 |2008|       376.66|
|      The Ugly Truth|   Comedy|         Independent|              68|    5.4026318|               14|       $205.30 |2009|        205.3|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|       709.82|
|The Time Traveler...|    Drama|           Paramount|              65|     2.598205|               38|       $101.33 |2009|       101.33|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|        314.7|
|The Invention of ...|   Comedy|        Warner Bros.|              47|    1.7513514|               56|        $32.40 |2009|         32.4|
|  The Heartbreak Kid|   Comedy|           Paramount|              41|    2.1294441|               30|       $127.77 |2007|       127.77|
|         The Duchess|    Drama|           Paramount|              68|    3.2078502|               60|        $43.31 |2008|        43.31|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+-------------+
only showing top 20 rows

In [ ]:
df2.withColumn('words', f.explode(f.split(f.lower(f.col('Film')), ' ')))\
   .groupBy('words')\
   .count()\
   .sort('count', ascending=False)\
   .show(100)

+-----------+-----+
|      words|count|
+-----------+-----+
|        the|   14|
|        and|    9|
|         of|    6|
|          a|    5|
|        you|    4|
|       love|    4|
|         in|    4|
|        day|    3|
|        for|    3|
|       city|    3|
|          i|    3|
|     juliet|    3|
|        sex|    3|
|       mia!|    2|
|        not|    2|
|        new|    2|
|     gnomeo|    2|
|      mamma|    2|
|         me|    2|
|    married|    2|
|       year|    2|
|       just|    2|
|         my|    2|
|    happens|    2|
|         to|    2|
|   twilight|    2|
|      monte|    1|
|      carlo|    1|
|     marley|    1|
|  fireproof|    1|
|        did|    1|
|        two|    1|
|       miri|    1|
|     wright|    1|
|   borrowed|    1|
|       eyre|    1|
|   infinite|    1|
|     wall-e|    1|
|       moon|    1|
|       luck|    1|
|       will|    1|
|    serious|    1|
|       wife|    1|
|christmases|    1|
|   waitress|    1|
|     rachel|    1|
|    letters|    1|
|      paris|    1|
|   universe|    1|
|        man|    1|
|         3:|    1|
|     summer|    1|
|       it's|    1|
|       he's|    1|
|       body|    1|
|    wedding|    1|
|   playlist|    1|
|       four|    1|
|        one|    1|
|  enchanted|    1|
|      porno|    1|
|     morris|    1|
|      tyler|    1|
|       with|    1|
| traveler's|    1|
|        out|    1|
|      lives|    1|
|     method|    1|
|         27|    1|
|       days|    1|
|      vegas|    1|
|    knocked|    1|
|complicated|    1|
|    back-up|    1|
|      water|    1|
|  invention|    1|
|valentine's|    1|
|       miss|    1|
|    killers|    1|
|     school|    1|
|     family|    1|
|      other|    1|
|  beginners|    1|
|       past|    1|
|       when|    1|
|       life|    1|
|    forever|    1|
|   remember|    1|
|       p.s.|    1|
|  dangerous|    1|
|   proposal|    1|
|       into|    1|
|     revolt|    1|
|      going|    1|
|         it|    1|
|     ghosts|    1|
|       dark|    1|
|      saga:|    1|
| heartbreak|    1|
|      youth|    1|
+-----------+-----+
only showing top 100 rows